---
tag: Souris - Minimalist Product Designer in Phnon Penh
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/tw.css">
	<title>{{ title }}</title>
</head>
<body>
	<section class="bg-blue-500 text-white">
		Navigation goes here
		<p>
			{{ tag }}
		</p>
	</section>

	<section class="prose">
		{{ content }}
	</section>


	<button class="text-white bg-red-500 p-4 rounded">
		Bellow
	</button>
</body>
</html>