---
import Layout from '../layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import me from '../assets/me.jpeg'
---

<Layout title="Vannrith the Designer | Vannrith.com">
    <!-- Hero section -->
    <div class="container mx-auto lg:w-2/3 p-4 mt-8">
        <section class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
                <div
                    class="w-full md:col-span-4 p-6 text-center flex flex-col justify-center items-center gap-0">
                    <h1
                        class="text-4xl md:text-5xl lg:text-7xl tracking-tight font-extrabold font-sans text-stone-700">
                        Vannrith V.
                    </h1>
                    <p class="text-sm font-sans text-indigo-800 tracking-tight">
                        UI & UX & Graphic Designer
                    </p>
                    <p
                        class="font-sans text-zinc-500 tracking-tight my-6 md:text-xl">
                        A designer by day and an artist by night <br /> from Kingdom
                        of Cambodia.
                    </p>
                    <div class="inline-flex items-center gap-4">
                        <a
                            class="btn"
                            href="mailto:me@vannrith.com"
                            target="_blank">
                            <Icon
                                name="uim:comment-alt-dots"
                                class="text-2xl lg:text-xl"
                            />
                            Email
                        </a>
                        <a
                            class="btn-icon"
                            href="//linkedin.com/in/madsouris"
                            target="_blank">
                            <Icon
                                name="uim:linkedin"
                                class="text-2xl lg:text-xll"
                            />
                        </a>
                        <a
                            class="btn-icon"
                            href="//dribbble.com/madsouris"
                            target="_blank">
                            <Icon
                                name="uim:dribbble"
                                class="text-2xl lg:text-xl"
                            />
                        </a>
                        <a
                            class="btn-icon"
                            href="//instagram.com/madsouris"
                            target="_blank">
                            <Icon
                                name="uim:instagram"
                                class="text-2xl lg:text-xl"
                            />
                        </a>
                    </div>
                </div>
                <div class="w-full md:col-span-2">
                    <Image
                        src={me}
                        alt="Souris"
                        class="w-full object-cover rounded-2xl border border-white drop-shadow-xl"
                    />
                </div>
            </div>
        </section>
    </div>

    <!-- Work section -->
    <section class="w-full bg-gradient-to-br from-slate-200 to-gray-50 mt-8" id="project">
        <div class="container mx-auto lg:w-2/3">
            <div class="grid grid-cols-5 px-4 py-14 gap-4">
                <div class="col-span-5 md:col-span-3 flex flex-col gap-2">
                    <h2 class="font-sans text-zinc-500 tracking-tight font-medium">
                        Projects
                    </h2>
                    <div class="card-bg">
                        <div class="rounded-lg w-16 h-16 bg-slate-500 flex-shrink-0">

                        </div>
                        <div class="flex flex-col gap-0 flex-grow">
                            <h3 class="card-title">
                                Ronin Pentest
                            </h3>
                            <p class="card-subtitle">
                                Design (UI & Graphic)
                            </p>
                        </div>
                    </div>
                    <div class="card-bg">
                        <div class="rounded-lg w-16 h-16 bg-slate-500 flex-shrink-0">

                        </div>
                        <div class="flex flex-col gap-0 flex-grow">
                            <h3 class="card-title">
                                Pivot Management Company
                            </h3>
                            <p class="card-subtitle">
                                Design & Development
                            </p>
                        </div>
                    </div>
                    <div class="card-bg">
                        <div class="rounded-lg w-16 h-16 bg-slate-500 flex-shrink-0">

                        </div>
                        <div class="flex flex-col gap-0 flex-grow">
                            <h3 class="card-title">
                                Hangme E-commerce Platform
                            </h3>
                            <p class="card-subtitle">
                                Design & Development
                            </p>
                        </div>
                    </div>
                    <div class="card-bg">
                        <div class="rounded-lg w-16 h-16 bg-slate-500 flex-shrink-0">

                        </div>
                        <div class="flex flex-col gap-0 flex-grow">
                            <h3 class="card-title">
                                Workout Checklist PWA
                            </h3>
                            <p class="card-subtitle">
                                Design & Development
                            </p>
                        </div>
                    </div>
                    <div class="card-bg">
                        <div class="rounded-lg w-16 h-16 bg-slate-500 flex-shrink-0">

                        </div>
                        <div class="flex flex-col gap-0 flex-grow">
                            <h3 class="card-title">
                                Cattie Outfit Online Store
                            </h3>
                            <p class="card-subtitle">
                                Design & Development
                            </p>
                        </div>
                    </div>
                    <div class="card-bg">
                        <div class="rounded-lg w-16 h-16 bg-slate-500 flex-shrink-0">

                        </div>
                        <div class="flex flex-col gap-0 flex-grow">
                            <h3 class="card-title">
                                Colors Picker (Based on Old Google's Guideline)
                            </h3>
                            <p class="card-subtitle">
                                Design & Development
                            </p>
                        </div>
                    </div>
                    <div class="card-bg">
                        <div class="rounded-lg w-16 h-16 bg-slate-500 flex-shrink-0">

                        </div>
                        <div class="flex flex-col gap-0 flex-grow">
                            <h3 class="card-title">
                                Meta Donation App Prototype
                            </h3>
                            <p class="card-subtitle">
                                Design & Development
                            </p>
                        </div>
                    </div>
                    <div class="card-bg">
                        <div class="rounded-lg w-16 h-16 bg-slate-500 flex-shrink-0">

                        </div>
                        <div class="flex flex-col gap-0 flex-grow">
                            <h3 class="card-title">
                                Custom Startpage
                            </h3>
                            <p class="card-subtitle">
                                Design & Development
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-span-5 md:col-span-2 flex flex-col gap-2">
                    <h2 class="font-sans text-zinc-500 tracking-tight font-medium">
                        Work History
                    </h2>
                    <div class="card-bg w-full flex flex-col gap-2">
                        <div class="work-card">
                            <div class="work-card-inner">
                                <h3 class="work-title">
                                    Ronin Pentest
                                </h3>
                                <p class="card-subtitle">
                                    UI & Graphic Designer
                                </p>
                                <p class="card-subtitle">
                                    2019 - Present
                                </p>
                            </div>
                        </div>
                        <div class="work-card">
                            <div class="work-card-inner">
                                <h3 class="work-title">
                                   RS Digital Ventures
                                </h3>
                                <p class="card-subtitle">
                                    UI & UX & Graphic Designer
                                </p>
                                <p class="card-subtitle">
                                    2019 - 2022
                                </p>
                            </div>
                        </div>
                        <div class="work-card">
                            <div class="work-card-inner">
                                <h3 class="work-title">
                                    Clik
                                </h3>
                                <p class="card-subtitle">
                                    Senior UI & UX & Graphic Designer
                                </p>
                                <p class="card-subtitle">
                                    2017 - 2019
                                </p>
                            </div>
                        </div>
                        <div class="work-card">
                            <div class="work-card-inner">
                                <h3 class="work-title">
                                    Wavy Support
                                </h3>
                                <p class="card-subtitle">
                                    Front End Web Developer
                                </p>
                                <p class="card-subtitle">
                                    2017 -2017
                                </p>
                            </div>
                        </div>
                        <div class="work-card">
                            <div class="work-card-inner">
                                <h3 class="work-title">
                                    Ardor SEO
                                </h3>
                                <p class="card-subtitle">
                                    Junior Web Developer
                                </p>
                                <p class="card-subtitle">
                                    2016 - 2017
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About section -->
     <section class="container mx-auto lg:w-2/3 p-4 my-8">
        <div class="grid grid-cols-2 grid-rows-2 gap-4">
            <div class="row-span-2">
                
                <div class="work-card shadow-lg hover:shadow-2xl">
                    <div class="work-card-inner font-sans text-sm tracking-tight flex flex-col gap-2 text-stone-500">
                        <h2 class="work-title">
                            About
                        </h2>
                        <p>
                            My name is Vannrith Va, mostly known as Souris. I am a product designer and front-end developer working from Phnom Penh, Cambodia.
                        </p>
                        <p>
                            Apart from designing and some coding, I also do a variety of activities like sport, draw, photograph, game and enjoy some movie’s mythologies.
                        </p>
                        <p>
                            My coding career started in 2016, doing some PHP and WordPress, and later manage Shopify. During that time I had chance to explore other related fields like magazine design and later on, product design.
                        </p>
                        <p>
                            2018 is where my product design career started to take shape. I spent a lot of time with companies designing mobile apps, and website. You can see some of that in projects section and in my Dribbble profile.
                        </p>
                        <p>
                            I do love minimal design. Being a Cambodian, surrounded by busy-designs, inspired me to make something different, design to solve issue instead of making it look a certain way.
                        </p>
                        <p>
                            Lastly, I personally also promoting Free and Open Source Software, like Linux distributions, design tools, and other applications. Hopefully one day I can make something good to impact the change.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row-span-1">
                
                <div class="work-card shadow-lg hover:shadow-2xl">
                    <div class="work-card-inner font-sans text-sm tracking-tight flex flex-col gap-2 text-stone-500">
                        <h2 class="work-title">
                            Front-End Development
                        </h2>
                        <p>
                            It all started with PHP, and WordPress, and later I dive deeper into CSS and preprocessing (yes people always argue that CSS is not a programming language all the time, I understand). Since the world we’re living right now focus heavily on Javascript to build everything from website to mobile app to desktop app, I also am playing and working with Javascript and other frameworks like Vue, Nuxt and Ionic. But in general, my main focus is to bring my UI design to life, let the smarter people figure out the architecture and backend part.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row-span-1">
                
                <div class="work-card shadow-lg hover:shadow-2xl">
                    <div class="work-card-inner font-sans text-sm tracking-tight flex flex-col gap-2 text-stone-500">
                        <h2 class="work-title">
                            Design
                        </h2>
                    <p>
                        It all started with image manipulation, and basic vector drawing. I later found Inkscape and started to learn more about it and other vector base design. While working for company I also had the chance to learn about branding as well. But since I have front-end background, picking up product design is very smooth. After finished my UX cource, I have decided that I only stick with product design professionally, so I only focus on one thing.
                    </p>
                </div>
                </div>
            </div>
        </div>
     </section>
</Layout>
