---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
    <div class="container mx-auto lg:w-2/3 px-2 mt-8">
        <section class="container mx-auto">
            <div class="grid grid-cols-2 gap-4">
                <div
                    class="p-6 rounded-2xl border border-white bg-slate-100 drop-shadow-xl">
                    <h1
                        class="text-5xl tracking-tight font-bold font-sans mb-2 text-zinc-800">
                        Welcome.
                    </h1>
                    <p class="font-sans text-zinc-500 tracking-tight mb-8">
                        I am a product and graphic designer currently working in
                        Phnom Penh, Cambodia. Clear big bold designs satisfied
                        me.
                    </p>
                    <a
                        class="font-sans text-zinc-500 font-medium tracking-tight px-4 py-3 rounded-lg bg-slate-50 border-white drop-shadow-md">
                        About me</a
                    >
                </div>
                <div
                    class="p-6 rounded-2xl border border-white bg-slate-100 drop-shadow-xl">
                    <ul class="p-0 m-0 list-none">
                        <li class="mt-2">
                            <a
                                class="font-sans font-bold text-black dark:text-white no-underline tracking-tight hover:text-orange-500 hover:underline">
                                projects.
                            </a>
                        </li>
                        <li class="mt-2">
                            <a
                                class="font-sans font-bold text-black dark:text-white no-underline tracking-tight hover:text-orange-500 hover:underline">
                                gallery.
                            </a>
                        </li>
                        <li class="mt-2">
                            <a
                                class="font-sans font-bold text-black dark:text-white no-underline tracking-tight hover:text-orange-500 hover:underline">
                                about me.</a
                            >
                        </li>
                        <li class="mt-2">
                            <a
                                class="font-sans font-bold text-black dark:text-white no-underline tracking-tight hover:text-orange-500 hover:underline">
                                blog.</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</Layout>
