---
import { Icon } from 'astro-icon/components'
---

<header class="container  lg:w-2/3 px-2 py-4 mx-auto">
    <div class="inline-flex justify-between w-full">
        <a href="/">
            <img src="/logo.svg" alt="logo" class="w-18 md:w-24">
        </a>

        <button>
            <Icon name="uim:subject" class="text-3xl" />
        </button>

    </div>
</header>