---
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import '../assets/style.css'

interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Designer based in Cambodia" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script
            src="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/spotlight.bundle.js"
        ></script>
    </head>
    <body class="page-bg min-h-screen">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
